@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F8F7FF;
    --foreground: #0F172A;
  }
  .dark {
    --background: #09090b;
    --foreground: #f8fafc;
  }
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] font-inter antialiased min-h-screen overflow-x-hidden;
  }
}

/* Custom Webkit Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-300 rounded-md;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-400;
}